# Ignore these directories:
**/__pycache__/
*.ipynb_checkpoints/
**/.DS_Store/
**/.DS_Store
*env_*/
data/
results/

# Ignore temporary files:
*.bed
*.bedGraph
*.bam
*.bai
*.wig
*.CEL
*.csv
*.EXP
*.gct
*.gtf
*.gmt
*.hic
*.jpg
*.LFC
*.meme
*.pdf
*.png
*.psi
*.RData
*.Rhistory
*.Rout
*.tmp
*.tsv
*.txt
*.xls
*.xlsx
*.xml
*.zip
sh.exe.stackdump
